<h2 class="page-header">New user</h2>

<section class="col-md-6">
  <% unless params.valid? %>
  <div class="alert alert-danger">
    <ul>
      <% params.error_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
    <ul>
  </div>
  <% end %>

  <%=
    form_for(:user, routes.users_create_path) do
      div(class: 'form-group') do
        label(:email)
        text_field(:email, class: 'form-control')
      end

      div(class: 'form-group') do
        label(:password)
        text_field(:password, class: 'form-control')
      end

      div(class: 'form-group') do
        label(:password_confirmation)
        text_field(:password_confirmation, class: 'form-control')
      end

      div(class: 'form-group') do
        label(:first_name)
        text_field(:first_name, class: 'form-control')
      end

      div(class: 'form-group') do
        label(:last_name)
        text_field(:last_name, class: 'form-control')
      end

      div(class: 'controlls') do
        submit('Send', class: 'btn btn-success right')
      end
    end
  %>
</section>
