<section class="row">
  <div  class="col-md-4 col-md-offset-4">
    <h2 class="center">Login</h2>
    <div>
      <%=
        form_for(:login_params, routes.handle_login_path, method: 'post') do
          div(class: 'form-group') do
            email_field(:email, class: 'form-control', placeholder: 'Email')
          end

          div(class: 'form-group') do
            password_field(:password, class: 'form-control', placeholder: 'Password')
          end

          div(class: 'controls') do
            submit('Login', class: 'btn btn-success btn-block')
          end
        end
      %>
    </div>
  </div>
</section>
