<section class="row">
  <div  class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <h3 class="panel-heading center">Login</h3>
      <div class="panel-body">

        <% unless params.valid? %>
          <div class="alert alert-danger">
            <ul>
            <% params.error_messages.each do |message|  %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <%=
          form_for(:login_params, routes.handle_login_path) do
            div(class: 'form-group') do
              email_field(:email, class: 'form-control', placeholder: 'Email')
            end

            div(class: 'form-group') do
              password_field(:password, class: 'form-control', placeholder: 'Password')
            end

            div(class: 'controls') do
              submit('Login', class: 'btn btn-success btn-block')
            end
          end
        %>
      </div>
    </div>
  </div>
</section>
