<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= favicon %>
  </head>
  <body>
    <header>
      <h1>Ed platform</h1>
    </header>
    <main><%= yield %></main>
    <footer></foot>
  </body>
</html>
